<!DOCTYPE html>
<html>
    <head>
        <title>{{owner}}</title>
        <link rel="stylesheet" href="PaunescuBogdan/css/style.css">
    </head>

    <body>
<div id="container">
<p>Salut! Numele meu este </p>
<h1>{{owner}}</h1>

<div class="circle"></div>


<p>Locuiesc în Alba-Iulia, România. Sunt student la programul de master Programare Avansată şi Baze de Date, în cadrul Facultăţii de Ştiinţe Exacte şi Inginereşti, tot aici am absolvit studiile de licenţă în specializarea Informatică.</p>
<p>Domeniile mele favorite sunt
    <li>Publicitate si marketing</li>
    <li>Programare web</li>
</ul>
</p>

          <footer>
            <div class="footer">UAB - Programare Avansata si Baze de Date - {{copyrightInterval}}</div>
        </footer>
</div>
    </body>
</html>